<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th>S.No.</th>
      <th *ngFor="let header of headers">
        {{header}}
      </th>
      <th>
        EDIT
      </th>
      <th>
        DELETE
      </th>
    </tr>
    <tbody>
      <tr *ngFor="let dataObj of data;let i=index">
        <td>{{i+1}}</td>
        <td *ngIf="hasImage"><img height="50px" width="50px" src="http://localhost:2020/images/{{dataObj._id}}.jpg?{{datetime}}"/></td>
        <td *ngFor="let key of keys">
          {{dataObj[key]}}
        </td>
        <td>
          <input type="button" value="edit" (click)="fnEdit(dataObj)" />
        </td>
        <td>
          <input type="button" value="delete" (click)="fnDelete(dataObj)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>