<mat-card id="login-card">
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 text-right lbl-line-height">
          <b>Current Password:</b>
      </div>
      <div class="col-sm-6">
          <mat-form-field >
              <input type='password' matInput placeholder="Current Pwd" [(ngModel)]="postData.currentPwd">
            </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group">
      <div class="row">
        <div class="col-sm-6 text-right lbl-line-height">
            <b>Password:</b>
        </div>
        <div class="col-sm-6">
            <mat-form-field >
                <input matInput type="password" placeholder="Password" [(ngModel)]="postData.password">
              </mat-form-field>
        </div>
      </div>
    </div>
  <div class="form-group">
    <div class="row">
      <div class="offset-6 col-sm-6">
         <input type="button" class="btn btn-primary" (click)="fnChangePwd()" value="Chagne PWd"/>
        </div>
    </div>
  </div>
</mat-card>